.header {
    padding: 10px;
    text-align: center;
    /* background: #1abc9c; */
    /* color: white; */
    line-height: 0.2;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
/* .column {
    float: left;
    width: 45%;
    padding: 5px;
} */

/* Clear floats after image containers */
/* .row::after {
    content: "";
    clear: both;
    display: table;
    
} */

.aligncenter {
    text-align: center;
}

body {
    margin-left: 25%;
    margin-right: 25%;
    background: #22272e;
    text-align: start;
    font-size: 20px;
    color: #adbac7;
}

#box-1 {
    text-align: center;
}

/* --------------------- Buttons -------------------- */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  justify-content: space-around;
  height: 38px;
  padding: 0 30px;
  color: #adbac7;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #373e47; /*transparent*/
  border-radius: 6px;
  border: 2px solid #454d56ff;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }